<div class="row">
    <div class="col wide">{{#formatDate _kmd.ect}}{{/formatDate}}</div>
    <div class="col wide">{{productCount}}</div>
    <div class="col">{{#getTotal total}}{{/getTotal}}</div>
    <div class="col">
        <a href="#/details/:{{_id}}">Details</a>
    </div>
</div>